name: Greetings

on:
  issues:
    types:
      - opened
# on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      # pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thanks for submitting! Gentle reminder to follow the [guideline](https://fire2a.github.io/docs/docs/qgis-cookbook/README.html#getting-help-) to getting help"
        # pr-message: "Message that will be displayed on users' first pull request"
